{% extends 'base.html' %}
{% block content %}  
  <h2>Dashboard</h2>
  <p>Bem vindo, {% if user.is_authenticated %}{{ user.username }}{% else %}visitor{% endif %}!</p>
{% include 'status_row.html' %}
  <div class="row">
    <div class="col-md-5">
      <div class="card">
        <div class="card-header">
          <h5>Clientes: {{total_customers}}</h5>
        </div>
        <div class="card-body">
          <a class="btn btn-primary  btn-sm btn-block" href="">Adicionar Cliente</a>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="card">
        <div class="card-header">
          <h5>Clientes: {{total_customers}}</h5>
        </div>
        <div class="card-body">
          <a class="btn btn-primary  btn-sm btn-block" href="">Adicionar Cliente</a>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    
  </div>
{% endblock %}

